<phpunit
	bootstrap="../../plugins/oik-batch/oik-wp.php"
	backupGlobals="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<!-- for PHPUnit 5.7, 6.1, 6.2 -->
	<testsuites>
		<testsuite name="oik">
			<file>tests/test-bobbcomp.php</file>
			<file>tests/test-bobbfunc.php</file>
			<file>tests/test-bw_metadata.php</file>
			<file>tests/test-bw-translate.php</file>
			<file>tests/test-class-dependencies-cache.php</file>
			<file>tests/test-oik-add-shortcodes.php</file>
			<file>tests/test-oik-bob-bing-wide.php</file>
			<file>tests/test-oik-countdown.php</file>
			<file>tests/test-oik-filters.php</file>
			<file>tests/test-oik-follow.php</file>
			<file>tests/test-oik-googlemap.php</file>
			<file>tests/test-oik-jquery.php</file>
			<file>tests/test-oik-sc-help.php</file>
			<file>tests/test-issue-71.php</file>
			<file>tests/test-issue-9.php</file>
			<file>tests/test-issue-63.php</file>
			<file>tests/test-oik-admin.php</file>
			<file>tests/test-includes-bw_fields.php</file>
			<file>tests/test-includes-bw_formatter.php</file>
			<file>tests/test-includes-bw_images.php</file>
			<file>tests/test-includes-bw_messages.php</file>
			<file>tests/test-includes-bw_posts.php</file>
			<file>tests/test-includes-oik-contact-form-email.php</file>
			<file>tests/test-shortcodes-oik-attachments.php</file>
			<file>tests/test-shortcodes-oik-blockquote.php</file>
			<file>tests/test-shortcodes-oik-blocks.php</file>
			<file>tests/test-shortcodes-oik-button.php</file>
			<file>tests/test-shortcodes-oik-codes.php</file>
			<file>tests/test-shortcodes-oik-company.php</file>
			<file>tests/test-shortcodes-oik-directions.php</file>
			<file>tests/test-shortcodes-oik-email.php</file>
			<file>tests/test-shortcodes-oik-phone.php</file>
			<file>tests/test-shortcodes-oik-qrcode.php</file>
		</testsuite>
		<testsuite name="random">
			<!-- We can't actually run tests in a random order due to use of static variables -->
			<directory prefix="test-random" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
